<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Subscriptions</title>
</head>
<body>
    <h1>PLANS</h1>

    <h2>CoreM</h2>
    <p><b>19$/month</b></p>
    <a href="/subscribe?plan=corem">Subscribe</a>

    <br><br>

    <h2>CoreY</h2>
    <p><b>144$/month</b></p>
    <a href="/subscribe?plan=corey">Subscribe</a>

    <br><br>

    <h2>TeamM</h2>
    <p><b>39$/month</b></p>
    <a href="/subscribe?plan=teamm">Subscribe</a>

    <br><br>

    <h2>TeamM</h2>
    <p><b>348$/month</b></p>
    <a href="/subscribe?plan=teamy">Subscribe</a>

    <br><br>
    
    <h2>OverdriveM</h2>
    <p><b>79$/month</b></p>
    <a href="/subscribe?plan=overdrivem">Subscribe</a>

    <br><br>

    <h2>CoreM</h2>
    <p><b>708$/month</b></p>
    <a href="/subscribe?plan=overdrivey">Subscribe</a>
</body>
</html>